### Loading dataset

In [1]:
import pandas as pd

dataset = pd.read_csv("./dataset.csv")
dataset

,Crop Type,Planting Date,Weather Conditions,Soil Characteristics,Fertilizer Usage (lbs/acre),Crop Yield (bushels/acre)
0,Squash,May 1st,"Sunny, warm, humid",Silt loam,100,150
1,Maize,September 15th,"Sunny, warm, humid",Sandy loam,100,30
2,Maize,July 15th,"Rainy, cool, wet",Clay loam,120,40
3,Cucumbers,June 1st,"Rainy, cool, wet",Silt loam,120,40
4,Squash,June 1st,"Rainy, cool, wet",Sandy loam,150,30
...,...,...,...,...,...,...
495,Potatoes,August 1st,"Rainy, cool, wet",Silt loam,100,40
496,Soybeans,July 15th,"Sunny, warm, humid",Sandy loam,100,30
497,Sugar Beans,June 1st,"Sunny, warm, dry",Sandy loam,100,30
498,Tomatoes,July 1st,"Sunny, warm, dry",Sandy loam,100,150
499,Cucumbers,May 1st,"Rainy, cool, wet",Silt loam,150,40